# MediCore Backend — dependencias Python
# pip install -r requirements.txt

# Web framework
fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9
starlette==0.38.4

# Base de datos
sqlalchemy==2.0.35
psycopg2-binary>=2.9.10

# Validación / configuración
pydantic==2.9.2
pydantic-settings==2.5.2

# Autenticación
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.2.0

# Firma SRI (XAdES-BES)
cryptography==43.0.1
lxml==5.3.0

# RIDE (PDF)
reportlab==4.2.2

# WebServices SRI
zeep==4.2.1
requests==2.32.3

# Utilidades
h11==0.14.0
anyio==4.6.0
sniffio==1.3.1

# Reportes Excel
openpyxl==3.1.5
pandas==2.2.3
